.footer {
    position: relative;
    padding: 8px;
    background:#101010;
    width: 100%;

    margin-top: auto;
}

.footer .socialmedia {
    font-family: socialmedia;
    color: whitesmoke;
    font-size: 48px;
}