.row {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.row > .col-10 {
    width: calc(100%);
}

.row > .col-1 {
    width: calc(100% / 10);
}

.row > .col-2 {
    width: calc(100% / 10 * 2);
}

.row > .col-3 {
    width: calc(100% / 10 * 3);
}

.row > .col-4 {
    width: calc(100% / 10 * 4);
}

.row > .col-5 {
    width: calc(100% / 10 * 5);
}

.row > .col-6 {
    width: calc(100% / 10 * 6);
}

.row > .col-7 {
    width: calc(100% / 10 * 7);
}

.row > .col-8 {
    width: calc(100% / 10 * 8);
}

.row > .col-9 {
    width: calc(100% / 10 * 9);
}

.row.align-center {
    text-align: center;
}